@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

:root {
  --dark: #292827;
  --darker: #1C1B1A;
  --darkest: #000000;
  --light_grey: #686767;
  --dark_grey: #4F4E4D;
  --light: #F0EAD6;
  --smoke_white: #FAF9F6;
  --grey-white: #EDEADE;
  --pearl: #E2DFD2;
  --pink: #ec4899;
  --purple: #8b56fc;
  --green: blue;
  --cyan: #00FFFF;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--smoke_white);
  color: black;
}
.container .main-object {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-white);
  border: 0px solid;
  border-radius: 20px;
  box-shadow: 3px 3px 10px var(--light_grey);
}
.container .main-object header {
  padding: 10px;
}
.container .main-object header .top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .main-object header .top h1 {
  padding-top: 10px;
  font-weight: bolder;
  padding-bottom: 20px;
}
.container .main-object header .top .space {
  width: 300px;
}
.container .main-object header .top button {
  border: 0px solid;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--pearl);
  cursor: pointer;
}
.container .main-object header .top button img {
  border: 0px solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.container .main-object header form {
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.container .main-object header form #new-task-input {
  background-color: var(--pearl);
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 760px;
  margin-right: 10px;
  font-size: medium;
  color: black;
}
.container .main-object header form #new-task-input ::-moz-placeholder {
  color: var(--dark_grey);
}
.container .main-object header form #new-task-input ::placeholder {
  color: var(--dark_grey);
}
.container .main-object header form #new-task-submit {
  padding-right: 10px;
  color: var(--pink);
  border: none;
  outline: none;
  font-size: medium;
  background: linear-gradient(to right, var(--green), var(--cyan));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}
.container .main-object header form #new-task-submit:hover {
  transform: translateY(2px);
  background: linear-gradient(to right, var(--cyan), var(--green));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container .main-object main .task-list {
  padding-left: 10px;
  padding-bottom: 10px;
}
.container .main-object main .task-list h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.container .main-object main .task-list #tasks {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 400px;
  -ms-overflow-style: none;
}
.container .main-object main .task-list #tasks .task {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: left;
}
.container .main-object main .task-list #tasks .task .index {
  background-color: orange;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
  border: 0px solid;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
}
.container .main-object main .task-list #tasks .task .full-content {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 5px 0px;
  padding-top: 5px;
}
.container .main-object main .task-list #tasks .task .full-content .upper-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.container .main-object main .task-list #tasks .task .full-content .upper-content .content {
  padding-right: 10px;
}
.container .main-object main .task-list #tasks .task .full-content .upper-content .content .text {
  background-color: var(--pearl);
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 15px;
  width: 700px;
  font-size: medium;
  color: black;
}
.container .main-object main .task-list #tasks .task .full-content .upper-content .actions {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}
.container .main-object main .task-list #tasks .task .full-content .upper-content .actions .edit {
  padding-right: 10px;
  border: none;
  outline: none;
  font-size: medium;
  background: linear-gradient(to right, var(--green), var(--cyan));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}
.container .main-object main .task-list #tasks .task .full-content .upper-content .actions .edit:hover {
  transform: translateY(2px);
  background: linear-gradient(to right, var(--cyan), var(--green));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container .main-object main .task-list #tasks .task .full-content .upper-content .actions .delete {
  padding-right: 10px;
  color: crimson;
  border: none;
  outline: none;
  font-size: medium;
  background: linear-gradient(to right, green, yellowgreen);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}
.container .main-object main .task-list #tasks .task .full-content .upper-content .actions .delete:hover {
  transform: translateY(2px);
  background: linear-gradient(to right, yellowgreen, green);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container .main-object main .task-list #tasks .task .full-content .middle-content {
  margin-left: 15px;
  height: 25px;
  width: 100px;
  border: var(--pearl) solid;
  border-bottom: 0px;
  border-top: 0px;
}
.container .main-object main .task-list #tasks .task .full-content .lower-content {
  background-color: var(--pearl);
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 15px;
  color: black;
  width: 200px;
}
.container .main-object main .task-list #tasks .task .full-content .lower-content .time {
  font-size: small;
}
.container .main-object main .task-list #tasks::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=light.css.map */